@media (max-width: 1024px) {
  /* BASE  */
  .container {
    max-width: 1024px;
    margin: auto;
    padding: 0px 20px;
  }
  /* LAYOUT  */
  .nav-links {
    display: none;
  }
  .icon-bars {
    display: block;
  }

  .w-full {
    width: 100%;
  }

  /* COMPONENTS  */
  .bg-image {
    height: 600px;
  }
  .list-post {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .featured-post {
    width: 100%;
  }
  .all-post {
    width: 100%;
  }
  .item-post {
    padding: 32px;
  }
  .list-category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .grid-author {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
  .list-blog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }

  /* UTILITES  */
  .py-3 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .pt-20 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 600px) {
  /* BASE  */
  .container {
    max-width: 100%;
    margin: auto;
    padding: 0 10px;
  }

  /* LAYOUT  */
  .w-full {
    width: 100%;
  }
  .w-50 {
    width: 100%;
  }

  /* COMPONENTS  */
  .heading-display {
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
  }
  .heading-h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
  }
  .section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 60px;
  }
  .about-us {
    width: 100%;
  }
  .our-mission {
    width: 100%;
  }

  .list-category {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .absolute {
    position: static;
  }
  .our-story-content {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .our-story img {
    width: 100%;
  }
  .grid-author {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .list-blog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .title {
    display: block;
  }

  /* UTILITES  */
  .py-3 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .pt-16 {
    padding-top: 64px;
  }
  .hidden {
    display: none;
  }
}
