@media (max-width: 1024px) {
  /* BASE  */
  .container {
    max-width: 1024px;
    margin: auto;
    padding: 0px 20px;
  }
  /* LAYOUT  */
  .nav-links {
    display: none;
  }
  .icon-bars {
    display: block;
  }

  .w-full {
    width: 100%;
  }

  /* COMPONENTS  */
  .bg-image {
    height: 600px;
  }
  .list-post {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .featured-post {
    width: 100%;
  }
  .all-post {
    width: 100%;
  }
  .item-post {
    padding: 32px;
  }

  /* UTILITES  */
  .py-3 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .pt-20 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 600px) {
  /* BASE  */
  .container {
    max-width: 100%;
    margin: auto;
    padding: 0 10px;
  }

  /* LAYOUT  */
  .w-full {
    width: 100%;
  }
  .w-50 {
    width: 100%;
  }

  /* COMPONENTS  */
  .heading-display {
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
  }
  /* UTILITES  */
  .py-3 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .pt-16 {
    padding-top: 64px;
  }
}
